---
layout: default
---

{% include home-header.html %}

<div class="posts">
  <section class="post-entry">
    <h1 class="post-title">
      <a>
        Welcome!
      </a>
    </h1>

    <p class="post-welcome">
      Studied in Cognitive Science, I seek to utilize my skills in machine learning, programming, data analysis, and psychology to make sense of complex data. 
      I have, and am currently, expanded my skills beyond research and python, to adapt myself to the industry outside of academia. 
      Diamonds are formed under pressure, and I am not afraid to push myself in high-pressure and fast-paced environments. I am keen on making sense of the world through the lense of bringing together what we know in new and novel ways.
    </p>
  </section>
</div>

